body,.card{
    background: #263238;
}
#app{
    font-family: 'Avenir', Helvetica ,Arial, sans-serif; 
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;
    color: white;


}
.character-card{
    border :2px solid green;
    border-radius: 4px;
    cursor: pointer;

}